/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba($primary-dark-alt, 0.9), rgba($primary-dark, 1));
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Headings - Security-themed
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight + 200;
  color: lighten($primary-accent, 10%);
  margin-top: $spacing-unit;
  border-bottom: 1px solid rgba($primary-light, 0.3);
  padding-bottom: 0.3em;
}

h1 {
  @include relative-font-size(2.0);
  letter-spacing: -1px;
  border-bottom: 2px solid $primary-light;
}

h2 {
  @include relative-font-size(1.5);
}

h3 {
  @include relative-font-size(1.3);
}

h4 {
  @include relative-font-size(1.1);
}

h5, h6 {
  @include relative-font-size(1.0);
  color: $secondary-1-accent;
}

/**
 * Links - Security-themed
 */
a {
  color: $primary-light;
  text-decoration: none;
  padding: 0 0.1em;
  background: rgba($secondary-2-dark, 0.3);
  border-radius: 2px;
  transition: all 0.2s ease;

  &:visited {
    color: darken($primary-light, 10%);
  }

  &:hover {
    color: $secondary-2-accent;
    text-decoration: none;
    background: rgba($secondary-2-mid, 0.5);
    box-shadow: 0 0 3px rgba($secondary-2-accent, 0.5);
  }

  .social-media-list &:hover {
    background: transparent;
    box-shadow: none;

    .username {
      text-decoration: underline;
      color: $secondary-2-accent;
    }
  }
}

/**
 * Blockquotes - Security-themed
 */
blockquote {
  color: lighten($secondary-1-mid, 20%);
  border-left: 4px solid $secondary-1-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -0.5px;
  font-style: normal;
  background: rgba($secondary-1-dark, 0.2);
  border-radius: 0 3px 3px 0;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting - Terminal-like
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $secondary-2-mid;
  border-radius: 3px;
  background-color: rgba($secondary-2-dark, 0.7);
  color: lighten($secondary-2-accent, 20%);
  font-family: "Courier New", Courier, monospace;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
  }
}

/**
 * Lists - Security-themed
 */
ul, ol {
  margin-left: $spacing-unit;
  list-style-type: square;
}

ul ul, ol ol {
  list-style-type: circle;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Tables - Security-themed
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 25%);
  border-collapse: collapse;
  border: 1px solid $primary-light;
  box-shadow: 0 0 5px rgba($primary-accent, 0.2);
  
  tr {
    &:nth-child(even) {
      background-color: rgba($primary-light, 0.1);
    }
    &:hover {
      background-color: rgba($primary-accent, 0.1);
    }
  }
  
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
    border: 1px solid rgba($primary-light, 0.3);
  }
  
  th {
    background-color: rgba($primary-light, 0.2);
    color: lighten($primary-accent, 15%);
    font-weight: $base-font-weight + 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $small-font-size;
  }
}

/**
 * Wrapper - Security-themed
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
  max-width:         calc(#{$content-width} - (#{$spacing-unit}));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  @extend %clearfix;

  @media screen and (min-width: $on-large) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
  }
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons - Security-themed
 */
.svg-icon {
  width: 16px;
  height: 18px;
  display: inline-block;
  fill: $secondary-2-accent;
  padding-right: 5px;
  vertical-align: text-bottom;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

/**
 * Horizontal rule - Security-themed
 */
hr {
  height: 1px;
  border: 0;
  background: linear-gradient(to right, transparent, $primary-light, transparent);
  margin: $spacing-unit * 1.5 0;
}

/**
 * Images with captions
 */
figure {
  margin: $spacing-unit 0;
  
  img {
    border: 1px solid $secondary-1-mid;
    box-shadow: 0 0 10px rgba($secondary-1-dark, 0.5);
  }
  
  figcaption {
    margin-top: $spacing-unit / 4;
    font-size: $small-font-size;
    color: $grey-color-light;
    text-align: center;
    font-style: italic;
  }
}

/**
 * Security alerts
 */
.security-alert {
  padding: $spacing-unit / 2;
  margin-bottom: $spacing-unit / 2;
  border-left: 4px solid;
  
  &--warning {
    @extend .security-alert;
    background-color: rgba($secondary-1-mid, 0.1);
    border-left-color: $secondary-1-accent;
    color: lighten($secondary-1-mid, 30%);
  }
  
  &--danger {
    @extend .security-alert;
    background-color: rgba($primary-accent, 0.1);
    border-left-color: $primary-accent;
    color: lighten($primary-accent, 30%);
  }
  
  &--info {
    @extend .security-alert;
    background-color: rgba($secondary-2-mid, 0.1);
    border-left-color: $secondary-2-accent;
    color: lighten($secondary-2-mid, 30%);
  }
}