/**
 * Site header - Security-themed
 */
.site-header {
  border-top: 5px solid $primary-accent;
  border-bottom: 1px solid rgba($primary-light, 0.3);
  min-height: $spacing-unit * 1.865;
  background-color: rgba($primary-dark-alt, 0.9);
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba($primary-dark, 0.5);

  // Positioning context for the mobile navigation icon
  position: relative;

  @include media-query($on-palm) {
    min-height: $spacing-unit * 1.5;
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 600;
  line-height: $base-line-height;
  letter-spacing: 1px;
  margin-bottom: 0;
  float: left;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  background: linear-gradient(to right, $primary-light, $secondary-2-accent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 2px rgba($primary-light, 0.3);

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: transparent;
  }
}

.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit / 2;
  background-color: rgba($primary-dark-alt, 0.9);
  border: 1px solid rgba($primary-light, 0.3);
  border-radius: 3px;
  text-align: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  box-shadow: 0 2px 5px rgba($primary-dark, 0.5);

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $primary-light;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
    background-color: rgba($primary-dark-alt, 0.95);
    border: 1px solid rgba($primary-light, 0.3);
    border-radius: 0 0 3px 3px;
    margin-top: 8px;
    margin-right: -11px;
    box-shadow: 0 5px 10px rgba($primary-dark, 0.5);
  }

  .page-link {
    color: lighten($primary-light, 20%);
    line-height: $base-line-height;
    display: block;
    padding: 8px 15px;
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.2s ease;

    &:hover {
      color: $secondary-2-accent;
      background-color: rgba($primary-light, 0.1);
      text-decoration: none;
    }

    &:not(:last-child) {
      margin-right: 0;
    }
    margin-left: 20px;
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: transparent;
    box-shadow: none;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: none;
    }

    input ~ .trigger {
      display: block;
      padding: 0;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }

    .page-link {
      display: inline;
      padding: 5px 10px;
      margin: 0 5px;
      border-radius: 3px;

      &:hover {
        background-color: rgba($primary-light, 0.2);
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
      margin-left: auto;
    }
  }
}

/**
 * Site footer - Security-themed
 */
.site-footer {
  border-top: 1px solid rgba($primary-light, 0.2);
  padding: $spacing-unit 0;
  background-color: rgba($primary-dark-alt, 0.9);
  color: lighten($primary-light, 20%);
  font-size: $small-font-size;

  a {
    color: lighten($primary-light, 30%);
    &:hover {
      color: $secondary-2-accent;
    }
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  color: $primary-light;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1,
.footer-col-2 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col {
    float: left;
  }
}

/**
 * Page content - Security-themed
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
  background-color: rgba($primary-dark, 0.95);
}

.page-heading {
  @include relative-font-size(2);
  color: $primary-light;
  border-bottom: 1px solid rgba($primary-light, 0.3);
  padding-bottom: $spacing-unit / 4;
}

.post-list-heading {
  @include relative-font-size(1.75);
  color: $primary-light;
  border-bottom: 1px solid rgba($primary-light, 0.3);
  padding-bottom: $spacing-unit / 4;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
    padding: $spacing-unit / 2;
    background-color: rgba($primary-dark-alt, 0.7);
    border: 1px solid rgba($primary-light, 0.1);
    border-radius: 3px;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba($primary-dark-alt, 0.9);
      border-color: rgba($primary-light, 0.3);
      box-shadow: 0 0 10px rgba($primary-light, 0.1);
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: lighten($primary-light, 20%);
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  color: $primary-light;
  font-weight: 500;

  &:hover {
    color: $secondary-2-accent;
    text-decoration: none;
  }
}

/**
 * Posts - Security-themed
 */
.post-header {
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit / 2;
  border-bottom: 1px solid rgba($primary-light, 0.3);
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -0.5px;
  line-height: 1.2;
  color: $primary-light;
  margin-top: $spacing-unit * 1.5;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  background-color: rgba($primary-dark-alt, 0.7);
  padding: $spacing-unit;
  border-radius: 3px;
  border: 1px solid rgba($primary-light, 0.1);

  h2 {
    @include relative-font-size(1.75);
    color: lighten($primary-light, 10%);
    border-bottom: 1px solid rgba($primary-light, 0.2);
    padding-bottom: $spacing-unit / 4;

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);
    color: lighten($primary-light, 15%);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.125);
    color: lighten($primary-light, 20%);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.25);
    }
  }

  p, ul, ol {
    color: lighten($text-color, 15%);
  }

  a {
    color: $primary-light;
    border-bottom: 1px dotted rgba($primary-light, 0.5);
    &:hover {
      color: $secondary-2-accent;
      border-bottom-color: $secondary-2-accent;
    }
  }

  code {
    background-color: rgba($secondary-2-dark, 0.7);
    color: lighten($secondary-2-accent, 20%);
  }

  pre {
    border: 1px solid rgba($secondary-2-mid, 0.5);
    background-color: rgba($secondary-2-dark, 0.8);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    code {
      background-color: transparent;
    }
  }

  img {
    display: block;
    margin: $spacing-unit auto;
    max-width: 100%;
    height: auto;
    border: 1px solid rgba($primary-light, 0.3);
    box-shadow: 0 0 15px rgba($primary-dark, 0.5);
  }
}